# Aplicação
NODE_ENV=development
PORT=8080

# Banco de dados (MySQL - XAMPP)
DB_HOST=localhost
DB_PORT=5244
DB_NAME=fasecerta
DB_USER=root
DB_PASSWORD=

# Segurança / Autenticação
JWT_SECRET=sua_chave_secreta_aqui_com_no_minimo_32_caracteres
JWT_EXPIRES_IN=86400000
BCRYPT_SALT_ROUNDS=10